<main>
  <div class="container mt-3">
     <h3 class="text-center">Add New</h3>
     <form action="/addbook/createbook" method="post" enctype="multipart/form-data">
          <label for="image">Image</label>
          <input type="file" name="Image" accept="image/*"> <br>
          <label for="name">Name</label>
          <input type="text" name="Name" class="form-control">
          <label for="description">Description</label>
          <input type="text" name="Description" class="form-control">
          <label for="information">Information</label>
          <input type="text" name="Infomation" class="form-control">
          <select name="category_Id">
          <option value="--Select--" disabled>Category</option>
          <% Category.forEach(entry => { %>
          <option selected="<%= entry.category_Id %>" value="<%= entry.post_Id %>"><%= entry.Name %></option>
          <% }) %>
        </select>
         <input type="submit" value="Add" class="btn btn-primary mt-2"> <br>
         <a href="/">Back?</a>
     </form>
  </div>
</main>

