<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../views/head.ejs'); %>
</head>
<body class="container">

<header>
  <%- include('../views/header.ejs'); %>
</header>

<main>
  <div class="jumbotron">
    <table class="table table-inverse">
        <thead>
          <tr>
            <th>BỘ TÀI LIỆU NỔI BẬT</th>
          </tr>
        </thead>

        
    </table>
  </div>
</main>

<footer>
  <%- include('../views/footer.ejs'); %>
</footer>

</body>
</html>